<!DOCTYPE html>
<html>
  <head>
    <title>memory game</title> 
  </head>
  <body>
    <script>
      window.gameName = "<%= @game %>";
    </script>
    <div class="header">
      <h1 id="title">Hello: <%= @game %></h1> 
    </div>
    <div id="root">
    Loading...
    </div>
  </body>
</html>

