@import "bootstrap";
.header {
  text-align: center;
}

.game {
  width: 280px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.game-board {
  width: 66%;
  float: left;
}

.game-info {
  width: 33%;
  float: right;
  font-size: 16px;
  font-weight: bold;
}

/* basic style of cards */
.hide, .open, .removed {
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}

/* hiden cards */
.hide {
  background: lightblue;
  /* hide text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;  
}

/* opened cards */
.open {
  background: yellow;
}

/* removed cards */
.removed {
  background: white; 
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;  
}
